<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levelup.touiteur.dashclock"
    android:versionCode="5"
    android:versionName="1.02" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:backupAgent=".BackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".StatusReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.levelup.touiteur.action.GLOBALNOTIF" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DashClockService"
            android:label="@string/extension_title"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="@string/extension_description" />
            <meta-data
                android:name="settingsActivity"
                android:value=".DashClockSettings" />
        </service>

        <activity
            android:name=".DashClockSettings"
            android:exported="true"
            android:label="@string/title_settings" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIRqgiTt3uZOa8EfeHgMN552trrMIo5x58B4n2PA" />
    </application>

</manifest>