<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.levelup.touiteur.dashclock"
    android:versionCode="2"
    android:versionName="1.01" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".StatusReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.levelup.touiteur.action.GLOBALNOTIF" />
            </intent-filter>
        </receiver>

        <service
            android:name=".DashClockService"
            android:icon="@drawable/widget_picholder"
            android:label="@string/extension_title"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="@string/extension_description" />
            <meta-data
                android:name="settingsActivity"
                android:value=".ExampleSettingsActivity" />
        </service>
    </application>

</manifest>